 .u-section-1 {
  min-height: 778px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  margin: 1px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 776px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  left: auto;
  top: -1px;
  position: absolute;
  height: 779px;
  transform-origin: center bottom 0px;
  right: -3px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 221px auto 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 60px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 29px auto 0 60px;
  padding: 10px 55px;
}

.u-section-1 .u-shape-1 {
  width: 447px;
  height: 467px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -621px calc(((100% - 1440px) / 2) + 123px) 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 114px;
  height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -403px calc(((100% - 1440px) / 2) + 398px) 0 auto;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 497px;
  height: 331px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -84px calc(((100% - 1440px) / 2) + 85px) 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 135px;
  height: 135px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -307px calc(((100% - 1440px) / 2) + 61px) 0 auto;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 207px;
  min-height: 40px;
  height: auto;
  margin: 165px calc(((100% - 1440px) / 2) + 196px) 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 2px 13px 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 24px;
  height: 24px;
  margin: -28px auto 0 13px;
  padding: 0;
}

.u-section-1 .u-line-2 {
  transform-origin: right center 0px;
  margin-top: -614px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 642px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 640px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 25px);
  }

  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 940px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + -13px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 940px) / 2) + -37px);
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 98px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 102px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 470px);
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 123px);
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 230px);
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 85px);
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 61px);
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 196px);
  }

  .u-section-1 .u-line-2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 470px);
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 93px);
  }

  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 540px) / 2) + 173px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 43px);
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 540px) / 2) + 61px);
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + 196px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-right: calc(((100% - 340px) / 2) + 109px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-2 {
    margin-right: calc(((100% - 340px) / 2) + 61px);
  }

  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 340px) / 2) + 133px);
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  min-height: 693px;
}

.u-section-2 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-2 .u-products-1 {
  width: 1140px;
  margin: 47px auto 27px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  grid-gap: 15px 15px;
  min-height: 533px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-products-1 {
    height: auto;
    width: 940px;
    margin-top: -24px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-repeater-1 {
    min-height: 520px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 545px;
  }

  .u-section-2 .u-products-1 {
    width: 720px;
    margin-top: -544px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 1708px;
  }

  .u-section-2 .u-products-1 {
    width: 540px;
    margin-top: -1707px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 506px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 506px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 506px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 1285px;
  }

  .u-section-2 .u-products-1 {
    width: 340px;
    margin-top: -1276px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-image-1 {
    height: 365px;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
  }

  .u-section-2 .u-image-3 {
    height: 365px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  min-height: 503px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 63px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 278px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 278px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 14px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 278px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 454px;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 197px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 229px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 325px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 425px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-4 {
  min-height: 507px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 85px calc(((100% - 1140px) / 2) + 657px) 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-4 .u-shape-1 {
  width: 390px;
  height: 341px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -328px calc(((100% - 1140px) / 2) + 110px) 0 auto;
}

.u-section-4 .u-image-1 {
  width: 602px;
  height: 301px;
  margin: -321px calc(((100% - 1140px) / 2) + 25px) 0 auto;
}

.u-section-4 .u-group-1 {
  width: 307px;
  min-height: 49px;
  height: auto;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -12px calc(((100% - 1140px) / 2) + 173px) 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 7px;
  padding-right: 7px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 2px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 27px;
  height: 27px;
  margin: -32px auto 0 15px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 27px;
  height: 27px;
  margin: -27px 15px 5px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 473px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-shape-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 110px);
  }

  .u-section-4 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 25px);
  }

  .u-section-4 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 173px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 253px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 110px);
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 25px);
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 173px);
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 476px;
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 73px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 110px);
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 270px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-right: calc(((100% - 540px) / 2) + 173px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 376px;
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 170px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-1 {
    margin-right: calc(((100% - 340px) / 2) + 33px);
  }
}

.u-section-4 .u-group-1,
.u-section-4 .u-group-1:before,
.u-section-4 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-group-1.u-group-1.u-group-1:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-4 .u-group-1.u-group-1.u-group-1.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-4 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  min-height: 487px;
}

.u-section-5 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 382px);
}

.u-section-5 .u-text-2 {
  margin: 36px auto 0 calc(((100% - 1140px) / 2) + 53px);
}

.u-section-5 .u-text-3 {
  margin: -28px calc(((100% - 1140px) / 2) + 53px) 0 calc(((100% - 1140px) / 2) + 627px);
}

.u-section-5 .u-text-4 {
  margin: 14px calc(((100% - 1140px) / 2) + 627px) 0 calc(((100% - 1140px) / 2) + 53px);
}

.u-section-5 .u-text-5 {
  margin: -275px calc(((100% - 1140px) / 2) + 53px) 56px calc(((100% - 1140px) / 2) + 627px);
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 153px);
  }

  .u-section-5 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-left: calc(((100% - 1140px) / 2) + 580px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 527px);
    margin-left: calc(((100% - 1140px) / 2) + 153px);
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-left: calc(((100% - 1140px) / 2) + 580px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 263px);
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 470px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 417px);
    margin-left: calc(((100% - 1140px) / 2) + 263px);
  }

  .u-section-5 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 470px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 353px);
  }

  .u-section-5 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 380px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 327px);
    margin-left: calc(((100% - 1140px) / 2) + 353px);
  }

  .u-section-5 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 380px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: -279px;
    margin-left: calc(((100% - 1140px) / 2) + 445px);
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 453px);
  }

  .u-section-5 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: calc(((100% - 1140px) / 2) + 453px);
  }

  .u-section-5 .u-text-5 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-bottom: 0;
  }
}@font-face {
  font-family: 'arp-240';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/arp-240.ttf);
}@font-face {
  font-family: 'Konstanz-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Konstanz-Regular.otf);
}